@model IEnumerable<Myriad.Models.MovieViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Catalogue</h2>

<p>
    @Html.ActionLink("Add to the Catalogue", "AddToCatalogue")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Plot)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Poster)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Producer.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActorsList)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReleaseDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Plot)
        </td>
        <td>
            <img width="100" height="100" src=@Url.Content(""+item.Poster) alt="Can't Load Image'" />
            
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Producer.Name)
        </td>
        <td>
            @foreach (var i in item.ActorsList)
            {
                if (i.isChecked)
                {
                    <div>@i.Name</div>
                }
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MovID }) |
            @Html.ActionLink("Details", "Details", new { id=item.MovID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MovID })
        </td>
    </tr>
}

</table>
